In [1]:
import sys
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os


# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns 

windows_dir = "../kaggle/all/"
ubuntu_dir = "/home/prof/kaggle/unbankedcredit/kaggle/all/"

import platform

system = platform.system()

print("Notebook is running on operating system: {}".format(system))
if system == "Linux":
    directory = ubuntu_dir
else:
    directory = windows_dir

Notebook is running on operating system: Linux

In [2]:
# # Installments 
types_dict = {'SK_ID_PREV': 'int32',
              'SK_ID_CURR': 'int32',
              'NUM_INSTALMENT_VERSION': 'float32',
              'NUM_INSTALMENT_NUMBER': 'int32',
              'DAYS_INSTALMENT': 'float32',
              'DAYS_ENTRY_PAYMENT': 'float32',
              'AMT_INSTALMENT': 'float32',
              'AMT_PAYMENT': 'float32',
              'DAYS_IN_ADVANCE': 'float32',
              'AMT_UNDERPAYMENT': 'float32'
           
    
    
}
install_file = "/home/prof/kaggle/unbankedcredit/installments_payments_enhanced.csv"
installments = pd.read_csv(install_file, low_memory=True, dtype=types_dict)

Exploring data from Installments file

In [3]:
installments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 10 columns):
SK_ID_PREV                int32
SK_ID_CURR                int32
NUM_INSTALMENT_VERSION    float32
NUM_INSTALMENT_NUMBER     int32
DAYS_INSTALMENT           float32
DAYS_ENTRY_PAYMENT        float32
AMT_INSTALMENT            float32
AMT_PAYMENT               float32
DAYS_IN_ADVANCE           float32
AMT_UNDERPAYMENT          float32
dtypes: float32(7), int32(3)
memory usage: 519.0 MB

In [4]:
installments.groupby('SK_ID_CURR').head() # grouping by SK_ID_CURR to see if IDs have multiple entries

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,DAYS_IN_ADVANCE,AMT_UNDERPAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.359863,6948.359863,7.0,0.000000
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525024,1716.525024,0.0,0.000000
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000000,25425.000000,0.0,0.000000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130859,24350.130859,8.0,0.000000
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040039,2160.584961,-17.0,4.455000
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375000,5970.375000,33.0,0.000000
6,2234264,184693,4.0,11,-349.0,-352.0,29432.294922,29432.294922,3.0,0.000000
7,1818599,111420,2.0,4,-968.0,-994.0,17862.164062,17862.164062,26.0,0.000000
8,2723183,112102,0.0,14,-197.0,-197.0,70.739998,70.739998,0.0,0.000000
9,1413990,109741,1.0,4,-570.0,-609.0,14308.469727,14308.469727,39.0,0.000000
10,1782554,106597,1.0,3,-933.0,-937.0,34620.523438,34620.523438,4.0,0.000000
11,2558880,154793,1.0,8,-1262.0,-1269.0,15031.080078,15031.080078,7.0,0.000000
12,1570206,147645,0.0,20,-761.0,-761.0,21.510000,21.510000,0.0,0.000000
13,1723268,197273,1.0,14,-755.0,-800.0,6093.990234,6093.990234,45.0,0.000000
14,1594684,100193,0.0,56,-1153.0,-1153.0,301.859985,301.859985,0.0,0.000000
15,1456258,118323,1.0,6,-2619.0,-2619.0,4844.924805,4844.924805,0.0,0.000000
16,1053286,170192,1.0,7,-500.0,-503.0,6882.839844,6882.839844,3.0,0.000000
17,1410565,197687,1.0,1,-1037.0,-1048.0,12514.049805,12510.450195,11.0,3.600000
18,2391610,183431,0.0,20,-1680.0,-1693.0,7875.000000,7875.000000,13.0,0.000000
19,2329072,183463,1.0,11,-1699.0,-1693.0,7283.294922,7283.294922,-6.0,0.000000
20,1354314,196570,1.0,14,-361.0,-365.0,15219.000000,15219.000000,4.0,0.000000
21,2260765,106012,3.0,23,-56.0,-59.0,13494.915039,13494.915039,3.0,0.000000
22,1995642,134723,1.0,38,-1277.0,-1282.0,12949.200195,12949.200195,5.0,0.000000
23,2631836,140337,0.0,116,-322.0,-322.0,560.880005,560.880005,0.0,0.000000
24,2702769,102122,1.0,1,-281.0,-286.0,5178.194824,5178.194824,5.0,0.000000
25,1770345,128334,1.0,5,-240.0,-255.0,10649.924805,10649.924805,15.0,0.000000
26,1818333,191655,1.0,6,-345.0,-356.0,16479.269531,16479.269531,11.0,0.000000
27,1991673,162903,0.0,46,-2548.0,-2561.0,5400.000000,5400.000000,13.0,0.000000
28,1184783,140804,0.0,106,-155.0,-155.0,503.459991,503.459991,0.0,0.000000
29,1181315,174565,1.0,7,-1894.0,-1895.0,16274.790039,16274.790039,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
13599018,2764755,444660,1.0,4,-99.0,-109.0,8017.740234,8017.740234,10.0,0.000000
13599036,2334985,430185,1.0,3,-667.0,-673.0,6148.620117,6148.620117,6.0,0.000000
13599179,2529000,448325,1.0,2,-889.0,-905.0,5649.750000,5649.750000,16.0,0.000000
13600111,2190721,432113,1.0,1,-733.0,-754.0,25729.560547,25729.560547,21.0,0.000000
13600220,1675526,414200,1.0,2,-1069.0,-1106.0,26411.220703,26411.220703,37.0,0.000000
13600307,1901858,401462,1.0,3,-377.0,-376.0,18562.500000,18562.500000,-1.0,0.000000
13600886,2257980,417364,1.0,1,-2440.0,-2450.0,2369.250000,2369.250000,10.0,0.000000
13601281,1563922,447486,1.0,6,-283.0,-291.0,9724.769531,9724.769531,8.0,0.000000
13601392,1599513,447919,1.0,2,-39.0,-48.0,8195.040039,9354.959961,9.0,-1159.920044
13601393,1599513,447919,2.0,2,-39.0,-48.0,1159.920044,9354.959961,9.0,-8195.040039
13601889,2601655,448146,1.0,1,-872.0,-887.0,6236.279785,6236.279785,15.0,0.000000
13601934,1435186,442457,1.0,4,-61.0,-65.0,12999.599609,12999.599609,4.0,0.000000
13602013,1330924,427319,1.0,1,-97.0,-120.0,16063.695312,16063.695312,23.0,0.000000
13602026,2768464,419322,2.0,5,-2801.0,-2805.0,6868.259766,6868.259766,4.0,0.000000
13602432,2746529,422091,1.0,3,-214.0,-256.0,5761.665039,5761.665039,42.0,0.000000
13602474,1644518,442598,1.0,2,-1981.0,-2040.0,2396.520020,2396.520020,59.0,0.000000
13602786,1780217,451714,1.0,3,-434.0,-452.0,17490.330078,17490.330078,18.0,0.000000
13602961,2307933,422965,1.0,4,-1777.0,-1783.0,11282.355469,11282.355469,6.0,0.000000
13603381,2083495,400169,1.0,3,-637.0,-638.0,6488.865234,6488.865234,1.0,0.000000
13603471,1782256,442403,1.0,4,-37.0,-84.0,5669.234863,5669.234863,47.0,0.000000
13603517,1915250,417988,1.0,2,-355.0,-366.0,8848.799805,8848.799805,11.0,0.000000
13603661,2689499,455829,1.0,3,-313.0,-331.0,8275.410156,8275.410156,18.0,0.000000
13603720,1833388,402567,1.0,4,-56.0,-62.0,21568.050781,21568.050781,6.0,0.000000
13603722,1266186,400041,1.0,3,-235.0,-244.0,5567.939941,5567.939941,9.0,0.000000
13603835,1490779,403562,2.0,5,-294.0,-319.0,56367.945312,56367.945312,25.0,0.000000
13604433,1454946,455453,1.0,2,-877.0,-887.0,7819.604980,7819.604980,10.0,0.000000
13604828,1710384,415168,1.0,1,-297.0,-299.0,9167.264648,9167.264648,2.0,0.000000
13604891,2305732,412171,1.0,3,-113.0,-128.0,5012.640137,5012.640137,15.0,0.000000
13605062,1731319,404653,1.0,2,-130.0,-144.0,4723.245117,4723.245117,14.0,0.000000
13605303,1710384,415168,1.0,4,-207.0,-299.0,9167.264648,9167.264648,92.0,0.000000

when grouped there are 1678995 rows versus original 13605400

Conclusion current loans must have more than one row

Add a column to count the number of entries and then average and sum the values!

In [5]:
installments['LOAN_COUNT'] = installments.groupby('SK_ID_CURR')['SK_ID_CURR'].transform('count')

In [6]:
installments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,DAYS_IN_ADVANCE,AMT_UNDERPAYMENT,LOAN_COUNT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.359863,6948.359863,7.0,0.000,101
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525024,1716.525024,0.0,0.000,158
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000000,25425.000000,0.0,0.000,3
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130859,24350.130859,8.0,0.000,27
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040039,2160.584961,-17.0,4.455,30

Counts seem very high. It seems that the information covers quite a few loans from borrowers. Perhaps quite good historic data

In [7]:
installments.drop(columns=['SK_ID_PREV'], inplace=True) # no longer need previous loan id as have a count of loans

In [8]:
installments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 10 columns):
SK_ID_CURR                int32
NUM_INSTALMENT_VERSION    float32
NUM_INSTALMENT_NUMBER     int32
DAYS_INSTALMENT           float32
DAYS_ENTRY_PAYMENT        float32
AMT_INSTALMENT            float32
AMT_PAYMENT               float32
DAYS_IN_ADVANCE           float32
AMT_UNDERPAYMENT          float32
LOAN_COUNT                int64
dtypes: float32(7), int32(2), int64(1)
memory usage: 570.9 MB

# Averages

In [18]:
counts = installments[['SK_ID_CURR', 'LOAN_COUNT']] # make separate df with just loan and counts to add back later
dropped = installments.drop(columns="LOAN_COUNT")

means = dropped.groupby('SK_ID_CURR').mean()

In [19]:

sums = dropped.groupby('SK_ID_CURR').sum()

In [28]:
means_sums = pd.merge(means,sums, on="SK_ID_CURR", how="inner", suffixes=("_MEANS","_SUMS"))

In [29]:
means_sums.head()

,NUM_INSTALMENT_VERSION_MEANS,NUM_INSTALMENT_NUMBER_MEANS,DAYS_INSTALMENT_MEANS,DAYS_ENTRY_PAYMENT_MEANS,AMT_INSTALMENT_MEANS,AMT_PAYMENT_MEANS,DAYS_IN_ADVANCE_MEANS,AMT_UNDERPAYMENT_MEANS,NUM_INSTALMENT_VERSION_SUMS,NUM_INSTALMENT_NUMBER_SUMS,DAYS_INSTALMENT_SUMS,DAYS_ENTRY_PAYMENT_SUMS,AMT_INSTALMENT_SUMS,AMT_PAYMENT_SUMS,DAYS_IN_ADVANCE_SUMS,AMT_UNDERPAYMENT_SUMS
SK_ID_CURR,,,,,,,,,,,,,,,,
100001,1.142857,2.714286,-2187.714355,-2195.000000,5885.132324,5885.132324,7.285714,0.0,8.0,19,-15314.0,-15365.0,4.119593e+04,4.119593e+04,51.0,0.0
100002,1.052632,10.000000,-295.000000,-315.421051,11559.247070,11559.247070,20.421053,0.0,20.0,190,-5605.0,-5993.0,2.196257e+05,2.196257e+05,388.0,0.0
100003,1.040000,5.080000,-1378.160034,-1385.319946,64754.585938,64754.585938,7.160000,0.0,26.0,127,-34454.0,-34633.0,1.618865e+06,1.618865e+06,179.0,0.0
100004,1.333333,2.000000,-754.000000,-761.666687,7096.154785,7096.154785,7.666667,0.0,4.0,6,-2262.0,-2285.0,2.128846e+04,2.128846e+04,23.0,0.0
100005,1.111111,5.000000,-586.000000,-609.555542,6240.205078,6240.205078,23.555555,0.0,10.0,45,-5274.0,-5486.0,5.616184e+04,5.616184e+04,212.0,0.0

In [39]:
means_sums_counts = pd.merge(means_sums, counts, on=["SK_ID_CURR"], how="left")

In [43]:
means_sums_counts
means_sums_counts.drop_duplicates(inplace=True)

In [45]:
means_sums_counts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 339587 entries, 0 to 13605327
Data columns (total 18 columns):
SK_ID_CURR                      339587 non-null int64
NUM_INSTALMENT_VERSION_MEANS    339587 non-null float32
NUM_INSTALMENT_NUMBER_MEANS     339587 non-null float64
DAYS_INSTALMENT_MEANS           339587 non-null float32
DAYS_ENTRY_PAYMENT_MEANS        339578 non-null float32
AMT_INSTALMENT_MEANS            339587 non-null float32
AMT_PAYMENT_MEANS               339578 non-null float32
DAYS_IN_ADVANCE_MEANS           339578 non-null float32
AMT_UNDERPAYMENT_MEANS          339578 non-null float32
NUM_INSTALMENT_VERSION_SUMS     339587 non-null float32
NUM_INSTALMENT_NUMBER_SUMS      339587 non-null int32
DAYS_INSTALMENT_SUMS            339587 non-null float32
DAYS_ENTRY_PAYMENT_SUMS         339587 non-null float32
AMT_INSTALMENT_SUMS             339587 non-null float32
AMT_PAYMENT_SUMS                339587 non-null float32
DAYS_IN_ADVANCE_SUMS            339587 non-null float32
AMT_UNDERPAYMENT_SUMS           339587 non-null float32
LOAN_COUNT                      339587 non-null int64
dtypes: float32(14), float64(1), int32(1), int64(2)
memory usage: 29.8 MB

In [50]:
# train enhanced
train_file = "/home/prof/kaggle/unbankedcredit/train_enhanced_bur.csv"
train = pd.read_csv(train_file, low_memory=True)
# train_non_na = train.fillna(0).astype(int)
# train_non_na.astype('int64','int32')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 271 entries, SK_ID_CURR to AMT_ANNUITY_mean
dtypes: bool(1), float64(97), int64(173)
memory usage: 633.7 MB

In [51]:
train_enhanced_loan_history = pd.merge(train,means_sums_counts, on='SK_ID_CURR', how='left')

In [52]:
train_enhanced_loan_history.info() # comparing info to make sure no data is corrupted

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307511 entries, 0 to 307510
Columns: 288 entries, SK_ID_CURR to LOAN_COUNT
dtypes: bool(1), float32(14), float64(100), int64(173)
memory usage: 659.6 MB

In [53]:
train_enhanced_loan_history.to_csv('train_enhanced_loan_history.csv', index=False)

In [54]:
# train enhanced
test_file = "/home/prof/kaggle/unbankedcredit/test_enhanced_bur.csv"
test = pd.read_csv(test_file, low_memory=True)
# test_non_na = test.fillna(0).astype(int)
# test_non_na.astype('int64','int32')

In [55]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 270 entries, SK_ID_CURR to AMT_ANNUITY_mean
dtypes: bool(1), float64(97), int64(172)
memory usage: 100.1 MB

In [56]:
test_enhanced_loan_history = pd.merge(test,means_sums_counts, on='SK_ID_CURR', how='left')

In [57]:
test_enhanced_loan_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48744 entries, 0 to 48743
Columns: 287 entries, SK_ID_CURR to LOAN_COUNT
dtypes: bool(1), float32(14), float64(100), int64(172)
memory usage: 104.2 MB

In [58]:
test_enhanced_loan_history.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,AMT_UNDERPAYMENT_MEANS,NUM_INSTALMENT_VERSION_SUMS,NUM_INSTALMENT_NUMBER_SUMS,DAYS_INSTALMENT_SUMS,DAYS_ENTRY_PAYMENT_SUMS,AMT_INSTALMENT_SUMS,AMT_PAYMENT_SUMS,DAYS_IN_ADVANCE_SUMS,AMT_UNDERPAYMENT_SUMS,LOAN_COUNT
0,100001,0,0,1,0,135000.0,568800.0,20560.5,450000.0,0.018850,...,0.00000,8.0,19.0,-15314.0,-15365.0,4.119593e+04,4.119593e+04,51.0,0.000000,7.0
1,100005,0,0,1,0,99000.0,222768.0,17370.0,180000.0,0.035792,...,0.00000,10.0,45.0,-5274.0,-5486.0,5.616184e+04,5.616184e+04,212.0,0.000000,9.0
2,100013,0,1,1,0,202500.0,663264.0,69777.0,630000.0,0.019101,...,1157.66272,43.0,6778.0,-209704.0,-210507.0,1.689174e+06,1.509736e+06,803.0,179437.718750,155.0
3,100028,0,0,1,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,...,622.55072,52.0,3447.0,-96677.0,-97016.0,5.626589e+05,4.923107e+05,339.0,70348.226562,113.0
4,100038,0,1,0,1,180000.0,625500.0,32067.0,625500.0,0.010032,...,0.00000,12.0,78.0,-7464.0,-7611.0,1.332040e+05,1.332040e+05,147.0,0.000000,12.0

In [59]:
test_enhanced_loan_history.to_csv('test_enhanced_loan_history.csv', index=False)