In [2]:
import sys
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os


# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns 

windows_dir = "../kaggle/all/"
ubuntu_dir = "/home/prof/kaggle/unbankedcredit/kaggle/all/"

import platform

system = platform.system()

print("Notebook is running on operating system: {}".format(system))
if system == "Linux":
    directory = ubuntu_dir
else:
    directory = windows_dir

Notebook is running on operating system: Linux

In [3]:
!pwd

/home/prof/kaggle/unbankedcredit

In [4]:
# Training data
train_file = "/home/prof/kaggle/unbankedcredit/all/bureau_balance.csv"
train = pd.read_csv(train_file)
print('Training data shape: ', train.shape)
train.head()

Training data shape:  (307511, 244)

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET,DAYS_EMPLOYED_ANOM,EXT_SOURCE_1_2_3_PRODUCT,EXT_SOURCE_1_3_PRODUCT,EXT_SOURCE_1_3_ADD,INCOME_RATIO
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,1,0,1,0,1,False,0.003043,0.011573,0.222413,2.007889
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,0,0,1,0,0,False,NaN,NaN,NaN,4.790750
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0,0,0,0,0,False,NaN,NaN,NaN,2.000000
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0,0,0,0,0,False,NaN,NaN,NaN,2.316167
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0,0,0,0,0,False,NaN,NaN,NaN,4.222222

In [5]:
# Enhanced data
enhance_file = "/home/prof/kaggle/unbankedcredit/outstanding.csv"
enhance = pd.read_csv(enhance_file)
print('Training data shape: ', enhance.shape)
enhance.head()

Training data shape:  (305811, 2)

   SK_ID_CURR  TOTAL_OUTSTANDING_DEBT
0      215354               284463.18
1      162297                    0.00
2      402440                76905.00
3      238881               552730.50
4      222183              1185081.84

In [6]:
merged = pd.merge(train,enhance, on='SK_ID_CURR', how="left")
merged

KeyboardInterrupt:

In [ ]:
merged.to_csv("train_enhanced.csv", index = False)

In [ ]:
# Test data
test_file = "/home/prof/kaggle/unbankedcredit/application_test_enhanced.csv"
test = pd.read_csv(test_file)
print('Training data shape: ', test.shape)
test.head()

In [ ]:
merged2 = pd.merge(test,enhance, on='SK_ID_CURR', how='left')
merged2.head(30)

In [ ]:
merged2.to_csv("test_enhanced.csv", index = False)

In [ ]:
merged2

In [ ]:
print("finished")

In [ ]:
# Test data
test_file = "/home/prof/kaggle/unbankedcredit/test_enhanced.csv"
test = pd.read_csv(test_file)
print('Training data shape: ', test.shape)
test.head()